<div class="main-container">
    <div class="header">
        <div class="left-header">
            <header>
                <img src="/assets/logo.JPG">
              </header>
        </div>
        <div class="right-header">
            <ul>
                <li>ENTERPRISE</li>
                <li>LOGIN</li>
                <li class="seperator bold-text">FB</li>
                <li class="bold-text">IG</li>
                <li class="bold-text">ME</li>
            </ul>
        </div>

    </div>
<div class="container">
    <div class="left-panel">
        <aside>
            <ul *ngFor="let item of sidenavObj">
                <li>{{item.name}}</li>
            </ul>
        </aside>

    </div>

    <div class="right-panel">
        <div class="box-model">
            <h3>
                Want to increase your sales productivity
            </h3>
            <div class="sub-division">
                <div class="left-division">
                  <div>
                    <h4>An enterprise contact management platform could be the missing piece to your puzzle.</h4> 
                    Use our unique contact exchange technology to turbocharge sales with automated CRM integrations, powerful smart notes, simple meeting management, and flawless contactless networking.
                  </div> 
                  <button class="book-demo">
                        BOOK A DEMO
                  </button>
                </div>
                <div class="right-division">
                    <img src="/assets/System.JPG">
                </div>
            </div>
        </div>
    </div>

</div>


</div>
